<!DOCTYPE html>

<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.thymeleaf.org"
  th:lang="${#locale.language}"
  lang="en"
>
    <head>
        <title th:text="${@environment.getProperty('spring.application.name', 'SID Report')}"></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <h1 th:text="${@environment.getProperty('spring.application.name', 'SID Report')}"></h1>
        <a href="/api/ExcelSheet/$download">Download all rows from tables in schema
          "<span th:text="${@environment.getProperty('spring.jpa.properties.hibernate.default_schema', 'sid')}"></span>"
        as Excel Sheets</a>
        <br><br><br>
        <a href="/api/logout">Logout</a>
    </body>
</html>