# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build & Release

on:
  push:
    tags:
      - v*

jobs:
  build:
    name: Build Executable WAR
    runs-on: ubuntu-latest

    # Service containers to run with `build` job
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_DB: opensrp_test
          POSTGRES_USER: opensrp_admin
          POSTGRES_PASSWORD: admin
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "adopt"

      - name: Cache Maven packages
        uses: actions/cache@v2
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Run tests
        run: ./mvnw test

      - name: Build WAR
        run: ./mvnw package

      - name: Upload WAR
        uses: actions/upload-artifact@v2
        with:
          name: executable-war
          path: target/bidan-report-*.war

  release:
    name: Release WAR
    needs: build
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
      - name: Download WAR from build
        uses: actions/download-artifact@v2
        with:
          name: executable-war

      - name: Set file name
        run: echo "::set-output name=FILE_NAME::`basename *.war`"
        id: file-name-setter

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            ${{ steps.file-name-setter.outputs.FILE_NAME }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
